html,
body {
  overflow-x: hidden; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

svg {
  position: relative;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  top: 50%; }

section,
.main_head {
  position: relative; }
  section h3,
  .main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 35px; }

.main_head {
  height: 100vh;
  padding-top: 20px; }

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  display: block;
  background: #EAE6DA; }

.page-loader-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  margin: -18px 0 0 -18px;
  border-radius: 50%;
  border: 2px solid;
  border-top-color: #222222;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: #222222;
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: page-loader-circle 0.8s linear infinite;
  animation: page-loader-circle 0.8s linear infinite; }

@keyframes page-loader-circle {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes page-loader-circle {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.logo_container {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  left: 40px;
  z-index: 3;
  border-radius: 40%;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer; }

.toggle_mnu {
  position: fixed;
  top: 20px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  border: none;
  border-radius: 40%; }
  .toggle_mnu:focus {
    outline-style: none; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 40px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0.7) translateY(-50%); }

.sw-topper {
  position: relative;
  top: -13px;
  width: 40px;
  height: 4px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-bottom {
  position: relative;
  width: 40px;
  height: 4px;
  top: -5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 40px;
  height: 4px;
  top: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 0px;
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: -4px;
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.modal_mnu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: none; }
  .modal_mnu ul,
  .modal_mnu li {
    padding: 0;
    margin: 0; }
  .modal_mnu ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .modal_mnu ul li {
      list-style-type: none;
      text-align: center; }
      .modal_mnu ul li:nth-child(1) {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s; }
      .modal_mnu ul li:nth-child(2) {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s; }
      .modal_mnu ul li:nth-child(3) {
        -webkit-animation-delay: 0.9s;
        -moz-animation-delay: 0.9s;
        animation-delay: 0.9s; }
      .modal_mnu ul li:nth-child(4) {
        -webkit-animation-delay: 1.2s;
        -moz-animation-delay: 1.2s;
        animation-delay: 1.2s; }
      .modal_mnu ul li a {
        text-transform: uppercase;
        padding: 20px 0;
        display: block;
        color: #fff;
        letter-spacing: 4px;
        transition: all 1s; }
        .modal_mnu ul li a:hover {
          background: rgba(204, 204, 204, 0.2); }

.presentation_container {
  background: radial-gradient(circle closest-side at 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0) 170%);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center; }

.presentation_inner {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .presentation_inner h1 {
    margin: 0 15px;
    padding: 10px 25px;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .presentation_inner p {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 10px;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s; }

section {
  padding: 90px 0; }
  section .pers_name {
    font-size: 13px;
    text-align: left;
    text-transform: uppercase; }

.s_head {
  text-align: center;
  margin-bottom: 100px; }
  .s_head h2, .s_head p {
    margin: 0; }
  .s_head p {
    margin-top: 20px; }
  .s_head p::after {
    content: "";
    width: 150px;
    height: 1px;
    display: block;
    margin: 40px auto 0; }

.main_footer {
  padding: 50px; }
  .main_footer p {
    font-size: 0.8rem; }
  .main_footer .soc_wrap {
    float: right;
    margin: 0; }
    .main_footer .soc_wrap ul {
      margin: 0;
      padding: 0; }

.photo_wrap {
  text-align: center; }
  .photo_wrap img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }

.introducing p {
  margin-bottom: 25px; }

.s_about ul,
.s_about li {
  list-style-type: none;
  margin: 0;
  padding: 0; }
.s_about li {
  margin-bottom: 10px; }
.s_about .soc_wrap {
  margin-top: 25px; }

.soc_wrap li {
  display: inline-block;
  font-size: 20px;
  padding: 0 3px; }

.pers_name {
  color: #555; }

.port_item_descr_modal {
  position: relative;
  background-color: #fff;
  width: auto;
  max-width: 500px;
  margin: auto;
  padding-top: 10px; }
  .port_item_descr_modal h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400; }
  .port_item_descr_modal p {
    padding: 5px 15px; }
  .port_item_descr_modal img {
    width: 100%;
    margin-top: 10px; }

.port_item {
  padding: 0;
  position: relative; }
  .port_item img {
    width: 100%; }

.port_item_descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-top: 10%;
  opacity: 0;
  transition: all 0.5s; }
  .port_item_descr:hover {
    opacity: 1;
    padding: 15%; }
  .port_item_descr h4 {
    text-transform: uppercase;
    font-weight: 400; }
  .port_item_descr p {
    margin: 20px 0; }
  .port_item_descr a {
    padding: 5px 10px;
    display: inline-block; }

.port_cell {
  padding: 0; }

.main_footer .soc_wrap li {
  padding: 0 20px; }

.s_contacts .contact_wrap .contact_item {
  margin-bottom: 40px; }
  .s_contacts .contact_wrap .contact_item i {
    font-size: 25px; }
  .s_contacts .contact_wrap .contact_item h3 {
    text-align: left;
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 18px; }
  .s_contacts .contact_wrap .contact_item p {
    font-size: 16px; }
.s_contacts .main_form .form_item {
  margin-bottom: 30px;
  display: block;
  font-size: 14px;
  font-weight: 500; }
  .s_contacts .main_form .form_item input:not([type="submit"]), .s_contacts .main_form .form_item textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px; }
  .s_contacts .main_form .form_item textarea {
    height: 70px; }
  .s_contacts .main_form .form_item .form_color {
    font-size: 20px; }
  .s_contacts .main_form .form_item .text_danger ul {
    padding-left: 0; }
    .s_contacts .main_form .form_item .text_danger ul li {
      list-style-type: none;
      font-weight: 500; }
.s_contacts .main_form input[type="submit"] {
  border: 0;
  color: #fff;
  float: right;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px; }

/*# sourceMappingURL=main.css.map */
